body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #0ee223;
  color: rgb(66, 39, 12);
  padding: 20px;
  text-align: center;
}

nav a {
  color: pink;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}


.flottante {
  width: 200px;
  animation: flotter 4s infinite ease-in-out;
  position: relative;
}

@keyframes flotter {
  0% { left: 0; }
  50% { left: 30px; }
  100% { left: 0; }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

.rotating-image {
  animation: rotate 4s linear infinite;
}

.rotating-image {
  width: 150px;  /* adapte la taille comme tu veux */
  height: auto;  /* conserve les proportions */
  animation: rotate 4s linear infinite;
}

.moving-image {
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 10px;
}

#dan-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
}

#dan-image {
  width: 900px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(0deg);
  transition: transform 2s ease;
  z-index: 999;
  border-radius: 50px; /* bords arrondis */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); /* ombrage */
}


#dan-image.show {
  width: 900px;
  opacity: 1;
  transform: scale(1) rotate(720deg); /* 2 tours */
}

#sondage {
  text-align: center;
  margin: 50px auto;
}

#sondage button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #f0e68c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#sondage button:hover {
  background-color: #ffe;
}

#dan-image.hide {
  opacity: 0;
  transition: opacity 2s ease;
}
